*{
    padding: 0;
    margin:0;
}
body {
    background-color: #eeeeee;
}

.h7 {
    font-size: 0.8rem;
}

.gedf-wrapper {
    margin-top: 0.97rem;
}

@media (min-width: 992px) {
    .gedf-main {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .gedf-card {
        margin-bottom: 2.77rem;
    }
}
/* .navbar{
    position: sticky;
    top: 0;
    z-index: 10;
} */
/* .col-md-3 .card{
    position: fixed;
    top: 30;
} */
@media(min-width:770px){

}
.navbar{
    height: 4rem;
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color:#fff;
    border-bottom: 1px solid #dbdbdb;
    position: absolute;
    top:0;
    z-index: 10;
}
header {
    
}
#logo {
    height: 90%;
    width: 130px;
    padding: 5px;
}
input {
    width: 130px;
    height: 80%;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #dbdbdb;
    background-color: #fafafa;
}
.navigation {
    display: inline-flex;
}
.navigation i {
    margin: 5px 10px;
    font-size: 20px;
    color: #545454 !important;
}
#user {
    height: 25px;
    width: 25px;
    border-radius: 50%;
}
#user img, #profile-pic img {
    height: 100%;
    width: 100%;
    margin: 2px 10px;
    border-radius: 50%;
}
    .container-fluid{
        position: relative !important;
        top:4rem;
    }
/**Reset Bootstrap*/
.wrap{
    justify-content: center ;
    align-items: center ;
    background: rgba(0,0,0,0.7) ;
    width: 100% ;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom:0;
    display: none;
    z-index: 10;
}
.dropdown-toggle::after {
    content: none;
    display: none;
}
#top-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#top-card img{
    width:100px;
    height:100px;
    border-radius: 150px;
    margin: auto;
}
#name{
    font-size: 1.5rem;
    font-weight: bold;
}
#friends{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#friends span{
    font-size: 2rem;
}
.edit{
    display: flex;
    justify-content: center;
    align-items: center;
}
.edit button{
    background-color:rgb(255,255,255);
    border: none;
    color: black;
    padding: 1px;
}
.edit i{
    color:#0A99C2;
}
.card-body img{
    height:300px;
    width: 350px;
    object-fit: cover;
    background-size:cover;                   
    background-position: center center; 
}
.card-footer span{
    margin: 5px;
}
.card-footer a,i,span{
    color:#0d6efd !important;
}
.card-footer i{
    cursor: pointer;
}
#top-card #name{
    text-transform: uppercase;
}
.list-group-item .h5{
    text-align: center !important;
    text-transform: uppercase;
}
#friends div.h6{
    font-size: 1.3rem;
}
.list-group-item{
    font-size: 1.3rem;
    text-align: center;
}
/* @import url(//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css); */

.detailBox {
    position: fixed;
    top:60px !important;
    background: gainsboro;
    width:350px;
    height:400px;
    border:1px solid #bbb;
    margin:50px;
    border-radius: 5px;
  }
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
  color:#444;
  margin:0;
  display:inline-block;
}
.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}
/* */
.commentList {
    padding:0;
    list-style:none;
    max-height:500px;
    height: 185px;
    overflow:auto;
}
.commentList .commentLi {
    margin-bottom:20px;
    font-size: 1.3rem;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:50px;
    margin-right:10px;
    height:100%;
    float:left;
}
.commenterImage img {
    height: 45px;
    width: 45px;
    border-radius:50%;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    border-top:1px dotted #bbb;
    padding:5px 10px;
    height:70%;
    z-index:10;
}
.form-group  input{
    width: 15rem !important;
    border: none;
    border-bottom:1px solid #0A99C2;
    margin-right:10px;
    outline: none !important;
}


