.section-food{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin: 30px;
   width: 1100px;
   margin:10px auto ;
   padding-top: 1rem;
   border: 1px solid black;
}
.item-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.item-card{
    border: 3px solid yellow;
    min-height: 200px;
    margin: 30px;
    min-width: 250px;
}
.item-card img{
    padding: 1rem;
}
.item-card div div p{
    font-size: 18px;
    font-weight: bold;
    padding: .5rem;
}
.item-card div div Button{
    margin-bottom: 1rem;
}